# Dependencies
node_modules/

# Build output (這一個沒有使用到，因為目錄在publish而且是開放的)
dist/

# TypeScript incremental build cache
*.tsbuildinfo

# Vite composite build artifacts
vite.config.js
vite.config.d.ts

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
